<!-- Display login form if not authenticated -->
<div class="login-box">
    <h2>Login</h2>
    <div class="user-box">
        <input type="text" name="username">
        <label>Username</label>
    </div>
    <div class="user-box">
        <input type="password" name="password">
        <label>Password</label>
    </div>
    <button type="submit">
        Submit
    </button>

    <div>
        <p>Not already registered? Click <button id="newUserButton" type="submit">here</button> to get signed up!</p>
    </div>
</div>

<script src="./assets/js/loginbutton.js"></script>