<!-- Display login form if not authenticated -->
<div class="columns">
          <div class="column is-4" id="login-box">
      <h2>Login</h2>
    <form action="/api/users/login" method="POST">
        <div class="user-box">
            <input type="text" name="email" id="email-login">
            <label>Email</label>
        </div>
        <div class="user-box">
            <input type="password" name="password" id="password-login">
            <label>Password</label>
        </div>
        <button class="button is-link is-light login-form">
            Submit
        </button>
    </form>

    <div>
        <p>Not already registered? Click <a href="../signup.handlebars">here</a> to get signed up!</p>
    </div>
</div>

<script src="./assets/js/login.js"></script>