<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <title>Silver Screenr</title>
    <link rel="shortcut icon" type="image/jpg" href="./assets/images/SilverScreenrFavicon.jpg" />
    <link rel="stylesheet" href="./assets/css/style.css">

</head>

<body>
    <section class="hero is-small is-dark">
        <div class="hero-body">
            {{!-- Chris added Parklane font to CSS and Id for line 18 and 21--}}
            <p class="title" id="parklaneFont">
                Silver Screenr
            </p>
            <p class="subtitle" id="parklaneFont">
                Your online cinema center
            </p>
        </div>
    </section>

    {{{body}}}

</body>


</html>