<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Silver Screenr</title>
</head>
<body>
    <h1>Silver Screenr</h1>
    <p>Your online cinema center</p>

    <div class="login-box">
    <h2>Login</h2>
        <div class="user-box">
            <input type="text" name="username">
            <label>Username</label>
        </div>
        <div class="user-box">
            <input type="password" name="password">
            <label>Password</label>
        </div>
        <button type="submit">
            Submit
        </button>
    </form>
</div>
    
</body>
</html>