<div class="background">
  <div class="columns">
    <div class="column is-8" id="content-box">

      {{#if loggedIn}}
      {{> userpage}}
      {{/if}}

      {{> movielisting}}


      {{> topmovies}}
    </div>
  </div>
</div>