<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <title>Silver Screenr</title>
</head>
<body>
    <section class="hero is-small is-dark">
        <div class="hero-body">
          <p class="title">
            Silver Screenr
          </p>
          <p class="subtitle">
            Your online cinema center
          </p>
        </div>
      </section>

    <div class="columns" id="login-box">
        <div class="column is-two-thirds">
            <p>Rate and review movies with thousands of other users!</p>
        </div>
        <div class="column is-4">
    <h2>Login</h2>
        <div class="user-box">
            <input type="text" name="username">
            <label>Username</label>
        </div>
        <div class="user-box">
            <input type="password" name="password">
            <label>Password</label>
        </div>
        <button type="submit">
            Submit
        </button>
</div> 
</div>

    
</body>
<footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
      </p>
    </div>
  </footer>
</html>