<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Silver Screenr</title>
</head>
<body>
    <section class="hero is-small is-dark">
        <div class="hero-body">
          <p class="title">
            Silver Screenr
          </p>
          <p class="subtitle">
            Your online cinema center
          </p>
        </div>
      </section>
      <div class="background">
        <div class="columns">
          <div class="column is-4" id="login-box">
      <h2>Login</h2>
          <div class="user-box">
              <input type="text" name="username">
              <label>Username</label>
          </div>
          <div class="user-box">
              <input type="password" name="password">
              <label>Password</label>
          </div>
          <button class="button is-link is-light" type="submit">
              Submit
          </button> 
          </div>
      </div>
</body>
<footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Silver Screenr</strong> by The Producers. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
      </p>
    </div>
  </footer>
</html>