<h1>New User Registration</h1>
<form action="/api/users/" method="POST">
    <div class="">
        <label>Username</label>
        <div class="">
            <input id="username-signup" type="text" name="username" placeholder="Enter a username">
        </div>
    </div>
    <div class="">
        <label>Password</label>
        <div class="">
            <input id="#password-signup" type="password" name="password" placeholder="Enter a password">
        </div>
    </div>

    <div class="">
        <label>Email</label>
        <div class="">
            <input id="email-signup" type="email" name="email" placeholder="Enter your email address">
        </div>
    </div>
    <button class="signup-form">Submit</button>

    <script src="./assets/js/script.js"></script>
</form>